.importante {

    font-weight: bold;
}


.galeria {
    width: 25%;
}

body {
    background-color: bisque;
    color: aliceblue;
    display: flex;
 align-items: baseline;

}

.links {
    display: flex;
    flex-direction: column;
}

a {
    margin: 20px;
    padding: 20px;
    background-color: beige;

}