.importante {

    font-weight: bold;
}


.galeria {
    width: 50%;
}

body {
    background-color: bisque;
    color: aliceblue;
}
.links {
display: flex;
flex-direction: column;
}
a{
    margin: 20px;
    padding: 20px;
    background-color: beige;

}

